body {
        background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRw-Gdg3KU0nvWWjNM_un-h1sR3zvDZzqD1AQ&usqp=CAU)
        }
.class1{
        height:400px;
        width:400px;
        }
.button2{
         height:100px;
         width:100px;
         background-image:url(https://avatars.mds.yandex.net/i?id=d9edbb64e44592e57fb21d999a342a9f-5334272-images-thumbs&n=13);
